---
layout: default
title: Rozhovory
---

<h3>Přehled</h3>
<p>Naleznete zde {{site.posts | size}} rozhovorů.</p>

<h4>Podle data</h4>
<ul class="years">
{% for year in page.archives %}
	<li>
		<a href="/rozhovory/{{year[0]}}/" title="View all interviews from {{year[0]}}."><strong>{{year[0]}}</strong></a>
		<ul class="months">
		{% for month in year[1] reversed %}
			{% capture month_name %}{{month[1][0].date | date: '%m'}}{% endcapture %}
			<li><a href="/rozhovory/{{year[0]}}/{{month[0]}}/" title="View all interviews from {{month_name}}, {{year[0]}}.">{{month_name}}</a></li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>

<h4>Podle kategorie</h4>
<ul class="categories">
{% for category in site.categories %}<li><a href="/rozhovory/{{category[0] | to_ascii}}" rel="category" title="View all '{{category[0]}}' interviews.">{{category[0]}}</a></li>{% endfor %}
</ul>

<h4>Podle jména</h4>
<ul class="peoples">
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}" rel="category" title="">{{ post.title }}</a> - {{ post.summary }}
        </li>
    {% endfor %}
</ul>
