---
layout: default
---
<article class="interview">
	{% assign selected = true %}
	{% assign interview = page %}
	{% include summary.html %}

	<div id="answers">
	{{content}}
	</div>

	{% if interview.license %}
		<p id="license"><em>This interview is available under a Creative Commons <a href="https://creativecommons.org/licenses/{{interview.license}}/3.0/" title="Read the details of the {{interview.license | upcase}} license.">{{interview.license | upcase}}</a> license.</em></p>
	{% endif %}
</article>

<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Předchozí rozhovor:
{{page.previous.title}}">&laquo; Předchozí rozhovor - {{page.previous.title}}</a>
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Další rozhovor:
{{page.next.title}}">Další rozhovor - {{page.next.title}} &raquo; </a>
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div> 

